<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="features" name="features" schema="schema/features.exsd"/>
   <extension
         point="org.eclipse.e4.opensocial.container.features">
      <feature
            name="core"
            version="1.0.0">
         <script
               source="js/core/util.js">
         </script>
         <script
               source="js/core/log.js">
         </script>
         <script
               source="js/core/window.js">
         </script>
         <browserRPCHandler
               class="org.eclipse.e4.opensocial.container.internal.browserHandlers.core.LogHandler"
               name="log">
         </browserRPCHandler>
      </feature>
      <feature
            name="core.io"
            version="1.0.0">
         <script
               source="js/core/io.js">
         </script>
         <dependsOn
               feature="core">
         </dependsOn>
         <browserRPCHandler
               class="org.eclipse.e4.opensocial.container.internal.browserHandlers.core.MakeXmlHttpRequestHandler"
               name="makeXmlHttpRequest">
         </browserRPCHandler>
      </feature>
      <feature
            name="rpc"
            version="1.0.0">
         <script
               source="js/rpc/rpc.js">
         </script>
         <dependsOn
               feature="core">
         </dependsOn>
      </feature>
      <feature
            name="dynamic-height"
            version="1.0.0">
         <script
               source="js/dynamic-height/dynamic-height.js">
         </script>
         <dependsOn
               feature="core">
         </dependsOn>
      </feature>
      <feature
            name="settitle"
            version="1.0.0">
         <script
               source="js/settitle/settitle.js">
         </script>
         <dependsOn
               feature="core">
         </dependsOn>
      </feature>
      <feature
            name="setprefs"
            version="1.0.0">
         <script
               source="js/setprefs/setprefs.js">
         </script>
         <dependsOn
               feature="core">
         </dependsOn>
         <dependsOn
               feature="rpc">
         </dependsOn>
      </feature>
      <feature
            name="pubsub"
            version="1.0.0">
         <script
               source="js/pubsub/pubsub.js">
         </script>
         <dependsOn
               feature="core">
         </dependsOn>
         <dependsOn
               feature="rpc">
         </dependsOn>
      </feature>
   </extension>

</plugin>
